:root {
  --bg: #ff1897;
  --duds-blue: #006cff;
  --mo-dark: #001f40;
  --mo-black: #000000;
  --mo-white: #ffffff;
  --duds-yellow: #ffea01;
  --mo-orange: #fe7b01;
}

body {
  margin: 0;
  background-color: var(--bg);
}

.thinking_image {
  width: 1000px;
  height: 500px;

  background-size: cover;
  background-position: center;

  margin: -500px auto 0 auto;
  position: relative;
  z-index: 2;
}

.row {
  margin: auto;
  display: flex;
  justify-content: center;
}

#about {
  display: flex;
  flex-direction: column;
  align-items: center;
}
