:root {
  --bg: #ff1897;
  --duds-blue: #006cff;
  --mo-dark: #001f40;
  --mo-black: #000000;
  --mo-white: #ffffff;
  --duds-yellow: #ffea01;
  --mo-orange: #fe7b01;
}

body {
  margin: 0;
  background-color: var(--bg);
  font-family: "Josefin Sans", serif;
}

.thinking_image {
  width: 1000px;
  height: 500px;

  background-size: cover;
  background-position: center;

  margin: -500px auto 0 auto;
  position: relative;
  z-index: 2;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  margin: 20px;
  display: flex;
  justify-content: center;
}

#about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-size: 36px;
  font-weight: 800;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}

#categorias {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  margin: auto;
}

#produtos {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  width: 800px;
  height: 40px;
  margin-bottom: 10px;
  text-align: center;
}

.NB_border {
  border-top: 4px solid var(--mo-black);
  border-right: 8px solid var(--mo-black);
  border-bottom: 8px solid var(--mo-black);
  border-left: 4px solid var(--mo-black);
}
