.card_image {
  display: flex;
}

img {
  height: 297px;
  width: 255px;
  margin: 12px;
}

.card {
  width: 485px;
  height: 255px;
  border-radius: 2%;
  margin: 30px;
  font-weight: 400;
  justify-content: center;
  text-align: center;
}

.card h3 {
  font-size: 36px;
  margin: 0px 0px 20px 0px;
}

.card p {
  font-size: 28px;
  width: 90%;
  margin: 0px;
}
