/* Caroucel.css */

#caroucel {
  display: flex;
  justify-content: center;
  position: relative;
  height: 500px;
  margin: 0 auto;
}

.caroucel-pages {
  display: flex;
  overflow: hidden;
  width: 1000px;
  height: 100%;
}

.caroucel-page {
  flex: none;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease-in-out;
}

#caroucel button {
  background-color: var(--mo-orange);
  width: 50px;
  height: 50px;
  margin-top: 40px;
  z-index: 3;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  border: 5px solid var(--mo-black);
}

#left {
  margin-right: -130px;
}

#right {
  margin-left: -130px;
}
