.cathegory {
  background-color: var(--mo-white);
  justify-content: space-evenly;
  width: 250px;
  height: 170px;
  border-radius: 2%;
  margin: 15px;
}

h3 {
  margin: 0px;
}

.cathegory img {
  width: 100px;
  height: auto;
}
