.product {
  background-color: var(--mo-white);
  min-height: 250px;
  min-width: 200px;
  margin: 15px;
  border-radius: 2%;
  margin: 15px;
}

.product img {
  width: 200px;
  height: 200px;
  margin: 0px;
}

h3 {
  margin-top: 5px;
}
