.social_media {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.social_media_links {
  display: flex;
  justify-content: space-between;
}

.social_media_links img {
  border-radius: 50%;
  border: 5px solid var(--mo-black);
  width: 80%;
  height: auto;
  margin: 10px;
}
